In [2]:
import sqlite3
import pandas as pd

In [3]:
NULL_SUBCARRIERS = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 64, 65, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127]

In [27]:
data = pd.read_csv("../training-data/Voxel-0/None-2024-04-11-14-31-53.csv")
data

,timestamp,rssi,csi,voxel_no,inter_voxel_no,activity
0,0,11,"[84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 12,...",0,0,NaN
1,0,11,"[84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -12...",0,0,NaN
2,0,11,"[84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -10, 8...",0,0,NaN
3,0,11,"[84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -2, -1...",0,0,NaN
4,0,11,"[84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 9, ...",0,0,NaN
...,...,...,...,...,...,...
330,0,11,"[84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, -9...",0,0,NaN
331,0,11,"[84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 5,...",0,0,NaN
332,0,11,"[84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -10, -...",0,0,NaN
333,0,11,"[84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 11,...",0,0,NaN
334,0,11,"[84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -8, 9,...",0,0,NaN

In [28]:
csi = data['csi']
csi

0      [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 12,...
1      [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -12...
2      [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -10, 8...
3      [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -2, -1...
4      [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 9, ...
                             ...
330    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, -9...
331    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 5,...
332    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -10, -...
333    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 11,...
334    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -8, 9,...
Name: csi, Length: 335, dtype: object

In [24]:
# Remove the data that are indexes given in the NULL_SUBCARRIERS
csi_df = pd.DataFrame(csi.tolist())
csi_df[0]

0      [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 12,...
1      [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -12...
2      [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -10, 8...
3      [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -2, -1...
4      [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 9, ...
                             ...
330    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, -9...
331    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 5,...
332    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -10, -...
333    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 11,...
334    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -8, 9,...
Name: 0, Length: 335, dtype: object

In [26]:
# Function to remove values from arrays based on NULL_SUBCARRIERS
def remove_null_subcarriers(row):
    return [val for idx, val in enumerate(row) if idx not in NULL_SUBCARRIERS]

# Apply the function to each row of the DataFrame
csi_df[0] = csi_df[0].apply(remove_null_subcarriers)
csi_df.iloc[0]

0    [ , 0, ,,  , 0, ,,  , 0, ,,  , 0, ,,  , 0, ,, ...
Name: 0, dtype: object